@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-300 {
  background-size: 300% 100%;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
}
